*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: rgb(140, 250, 209);
}

.container{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}


.quadratino{
    /* width: calc(100%/10); */
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border: 2px solid black;
    cursor: pointer;
}

.quad_click{
    background-color: rgb(93, 140, 227);
    color: white;
}